extends layout

block content
	div(class='g-signin2', data-onsuccess='onSignIn')

	h2.text-center Create your flatpage
	br

	div.container
		div.row
			div.col-xs-9.col-xs-offset-1
				div.account-wall
					form(class='form-horizontal', action='/generate', method='POST')
						div(class='form-group')
							label(class='col-xs-3 control-label') Authors
							div(class='col-xs-8')
								input(class='form-control', type='text', name='authors', required, autofocus)
						div(class='form-group')
							div(class='col-xs-offset-3 col-xs-8')
								input(class='form-control', type='text', name='authors')
						div(class='form-group')
							div(class='col-xs-offset-3 col-xs-8')
								input(class='form-control', type='text', name='authors')
						div(class='form-group')
							div(class='col-xs-offset-3 col-xs-8')
								input(class='form-control', type='text', name='authors')
						br
						div(class='form-group')
							label(class='col-xs-3 control-label') Images
							div(class='col-xs-8')
								input(class='form-control', type='text', name='images', required)
						div(class='form-group')
							div(class='col-xs-offset-3 col-xs-8')
								input(class='form-control', type='text', name='images')
						div(class='form-group')
							div(class='col-xs-offset-3 col-xs-8')
								input(class='form-control', type='text', name='images')
						div(class='form-group')
							div(class='col-xs-offset-3 col-xs-8')
								input(class='form-control', type='text', name='images')
						br
						div(class='form-group')
							label(class='col-xs-3 control-label') Title
							div(class='col-xs-8')
								input(class='form-control', type='text', name='title', required)

						br
						div(class='form-group')
							label(class='col-xs-3 control-label') Cover photo
							div(class='col-xs-8')
								input(class='form-control', type='text', name='cover', required)

						div(class='form-group')
							label(class='col-xs-3 control-label') Subheading
							div(class='col-xs-8')
								input(class='form-control', type='text', name='subheading', required)

						div(class='form-group')
							label(class='col-xs-3 control-label') Captions
							div(class='col-xs-8')
								input(class='form-control', type='text', name='captions', required)
						div(class='form-group')
							div(class='col-xs-offset-3 col-xs-8')
								input(class='form-control', type='text', name='captions')
						div(class='form-group')
							div(class='col-xs-offset-3 col-xs-8')
								input(class='form-control', type='text', name='captions')
						div(class='form-group')
							div(class='col-xs-offset-3 col-xs-8')
								input(class='form-control', type='text', name='captions')

						div(class='form-group')
							label(class='col-xs-3 control-label') Quotes
							div(class='col-xs-8')
								input(class='form-control', type='text', name='quotes')
						div(class='form-group')
							div(class='col-xs-offset-3 col-xs-8')
								input(class='form-control', type='text', name='quotes')
						div(class='form-group')
							div(class='col-xs-offset-3 col-xs-8')
								input(class='form-control', type='text', name='quotes')
						div(class='form-group')
							div(class='col-xs-offset-3 col-xs-8')
								input(class='form-control', type='text', name='quotes')

						div(class='form-group')
							label(class='col-xs-3 control-label') Paragraphs
							div(class='col-xs-8')
								input(class='form-control', type='text', name='paragraphs', required)
						div(class='form-group')
							div(class='col-xs-offset-3 col-xs-8')
								input(class='form-control', type='text', name='paragraphs')
						div(class='form-group')
							div(class='col-xs-offset-3 col-xs-8')
								input(class='form-control', type='text', name='paragraphs')
						div(class='form-group')
							div(class='col-xs-offset-3 col-xs-8')
								input(class='form-control', type='text', name='paragraphs')

						button(class='btn btn-lg btn-primary btn-block', type='submit') Generate Flatpage
							span.clearfix