doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='script.js')
    script(async, defer, src='https://apis.google.com/js/platform.js')
    meta(name='google-signin-client_id', content='102098023777-8f1jgpa67d8o1a78tn4c6vne1jtqkhnb.apps.googleusercontent.com')
  body
    block content
