body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.landing {
	height: 100%;
	width: 100%;
	background: no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
}

.landing .header {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	background-color: rgba(255,255,255,0.5);
	padding: 30px;
}

.landing .title {
	text-align: center;
}

.landing .author {
	text-align: center;
}

.linebreak{
    padding: 5px;
    border-top: 2px solid rgba(0,0,0, 0.3);
    margin-top: 40px;
    margin-bottom: 40px;
}
